footer {
    bottom: 1rem;
    height: 2.5rem;
    position: absolute;
    width: 100%;
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.page-container {
    min-height: 100vh;
    position: relative;
}

.content-wrap {
    padding-bottom: 4em;
}